* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  .story{
    
       h1{
        color: white;
        text-align: center;
    
        background: url(https://www.topntown.com/images/icecream-base-1.png);
        font-size: 50px;
         padding: 50px;
    }
    
    h3{
        padding-left: 40px;
        span{
            font-size: 50px;
        }
    }
    p{
        padding-left: 50px;
        font-size: 20px;
    }
    .company{
        img{
        height: 50px;
        width: 50px;
        padding-right: 60px;
        }
        
    }
  }